* {
	box-sizing: border-box;
}
.main_wrapper {
	max-width: 1600px;
	box-sizing: border-box;
}

body {
	font-family: Roboto, sans-serif;
}

section {
	display: block;
}

div {
	display: block;
}

.header_wrapper {
	max-width: 1160px;
	margin: 0 auto;
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	height: 80px;
	margin-left: 50px;
}

.header_wrapper--wide {
	max-width: 1600px;
}

.header {
	margin: 0 auto;
	display: block;
	background-color: black;
}

.header_wrapper_nav {
	display: flex;
	align-items: center;
}

.header .header_wrapper {
	padding-top: 16px;
	padding-bottom: 16px;
}

.header_nav {
	display: flex;
  	align-items: center;
}


.header_list {
	display: flex;
  	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;

}

.header_item {
	display: block;
	color: white;
	margin-left: 50px;
	margin-left: 56px;

}

.header_wrapper a {
	text-decoration: none;
	color: white;
}

.header_logo {
	display: block;
	max-width: 80px;
  	min-width: 80px;
  	text-align: center;
  	border: 1px solid white;
  	margin-left: 20px;

}

.design {
	display: block;
	margin-right: 180px;
	margin-left: 58px;
}

.header_item .header_link_about {
	color: orangered;
}

.fav_animal {
	background: url(../../assets/images/Giant\ Panda.png) no-repeat 50% 50%;
	background-size: cover;
	position: relative;
	border: 0px;
	padding: 1px;
}

.circle {
	width: 465px;
	height: 465px;
	margin-left: 807px;
	margin-top: 12px;
}

.text_watch_your {
	display: block;
	width: 500.31px;
	height: 400px;
	margin-left: 800px;
	margin-top: -400px;
	margin-bottom: 180px;
}

.btn_watch {
	height: 54px;
	width: 298px;
	border-radius: 25px;
	margin-left: 453px;
	margin-bottom: 100px;


}


.backstage_wrapper {
	width: 1160px;
	height: 403px;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;


}

.cap_text {
	display: flex;
	justify-content: space-between;
}

.bamboo_cap {
	float: left;
	width: 100px;
	height: 203px;
	margin-left: -200px;
	display: block;
	padding-top: 120px;
	float: left;
}

.backstage_text {
	margin-left: 600px;
	display: block;
	width: 500px;
	height: 403px;
	float: right;
	margin-top: 120px;
}

h2 .backstage {
	font-weight: 400px;
	width: 465px;
	height: 116px;
	font-size: 48px;
	margin-bottom: 20px;
}

.text {
	font-weight: 400px;
	font-size: 16px;
	line-height: 20.8px;
	margin-bottom: 34px;
}

.how_it_works {
	margin-bottom: 34px;
	width: 217px;
	height: 29px;
	font-weight: 400px;
	font-size: 24px;
}

.text-2 {
	width: 462px;
	height: 105px;
	font-size: 16px;
}

.flower {
	height: 605px;
	width: 293px;
	margin-left: 130px;
	display: block;
	margin-top: 0px;
	display: block;
}

.pets_wrapper {
	position: relative;
	top: 220px;
	width: 1158px;
	height: 872;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-content: space-between;
}

.penguin {
	border: 1px solid orange;
	width: 366px;
	height: 426px;
	margin-right: 422px;
	display: block;
}

.penguin_img {
	width: 350px;
	height: 366px;
}

.p_icon {
	float: right;
}

section.pick_a_friend {
	max-width: 1600px;
	height: 1004px;
	background-color: #FEBDAB;
	margin-top: 200px;
	position: relative;
}

.pick_inner {
	height: 863px;
	width: 1160px;
	margin-left: 220px;
	margin-top: 69px;
	margin-bottom: 100px;
	border-radius: 20px;
	background-color: rgba(253, 253, 255, 0.52);
	position: absolute;

}

.pick_h2 {
	font-size: 48px;
	font-weight: 400;
	line-height: 58px;
	letter-spacing: 0em;
	text-align: center;
	color: #FE9013;
	margin-bottom: 41px;
}

.pick_sub {
	font-size: 24px;
	line-height: 29px;
	vertical-align: top;
	margin-left: 99px;
	margin-top: 30px;
}

.pick_text_1 {
	height: 21px;
	width: 1061px;
	margin-left: 99px;
	margin-top: 40px;
	font-size: 16px;
	font-weight: 500px;
}

.pick_text_2 {
	height: 42px;
	width: 863px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
	margin-left: 99px;
	margin-top: 10px;
}

.emergency {
	color: orange;
}

.emergency:hover {
	color: blue;
}

.how_work {
	height: 47px;
	width: 209px;
	margin-left: 475px;
	margin-top: 60px;
	font-size: 36px;
	font-weight: 400;
	line-height: 47px;
}

.pick_icons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;

}

.img_pay {
	display: block;
	height: 244px;
	width: 168px;
	border-radius: 5px;
	margin-left: 198px;
	margin-top: 40px;
}

.arrow1 {
	display: block;
	height: 35.07884979248047px;
	width: 69px;
	margin-top: 100px;
	margin-left: 10px;

}

.img_payment_goes {
	display: block;
	height: 244px;
	width: 168px;
	border-radius: 5px;
	margin-left: 30px;
	margin-top: 40px;
}

.arrow2 {
	display: block;
	height: 35.07884979248047px;
	width: 69px;
	margin-top: 100px;
	margin-left: 10px;
}

.gets_delicious_food {
	display: block;
	height: 244px;
	width: 168px;
	border-radius: 5px;
	margin-left: 30px;
	margin-top: 40px;
	margin-right: 198px;
}

.btn_wrapper {
	height: 54px;
	width: 298px;
	left: 0px;
	top: 0px;
	border-radius: 25px;
	background-color: #FE9013;
	margin-left: 431px;
	margin-top: 60px;


}

.btn_wrapper a{
	text-decoration: none;
	color: white;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0em;
	margin-top: 60px;
	margin-bottom: 57px;
}

.testimonials {
	max-width: 1600px;
	height: 1004px;
}

.testimonial_wrapper {
	height: 575px;
	width: 1160px;
	margin-left: 220px;
	margin-bottom: 204px;
	margin-top: 140px;

}

.testim_header {
	margin-bottom: 47px;
	margin-left: 477px;
	height: 47px;
	width: 206px;
	font-size: 36px;
	font-weight: 400;
	line-height: 47px;
}

.test_cards_wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

.testim_img_Oscar {
	height: 391px;
	width: 268px;
	border-radius: 20px;
}


.testim_img_Jon {
	height: 391px;
	width: 268px;
	border-radius: 20px;

}

.testim_img_Fredericka {
	height: 391px;
	width: 268px;
	border-radius: 20px;
}

.testim_img_Mila {
	height: 391px;
	width: 268px;
	border-radius: 20px;
}

.slider {
	margin: 20px auto 32px;
    height: 8px;
    width: 600px;
}

.testimonial_wrapper a {
	height: 54px;
	width: 298px;
}

.leave{
	height: 295px;
	width: 300px;
	rotate: 149.8px;
	margin-left: 1350px;
	border-bottom: 574px;
}

.footer {
	height: 443px;
	width: 1600px;
	background-color: black;

}

.logo_footer {
	height: 52px;
	width: 82px;
	padding-left: 220px;
	padding-top: 41px;

}

.btn_vol {
	position:absolute;
	height: 54px;
	width: 298px;
	margin-left: 220px;
	margin-top: 161px;

}

.soc_media {
	position: absolute;
	margin-top: 230px;
	margin-left: -50px;

}

.soc_med {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	color: white;
	list-style: none;
	margin-left: 220px;
	margin-bottom: 100px;
}

.soc_med_item {
	height: 21px;
	width: 73px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.foooter_nav_menu {
	text-decoration: none;
}

.menu_footer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	width: 500px;
	margin-top: 320px;
	margin-left: 619px;
}

.menu_footer_item a {
	display: block;
	text-decoration: none;
	margin-left: 38px;
	color: white;
	font-size: 16px;
	font-weight: 22.4px;
}



.menu_footer_item_about {
	color:red;
	list-style: none;
}

.menu_footer_item_map {
	color: white;
	text-decoration: none;
	list-style: none;
}
